<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pn.mapper.RoleMapper">
    <select id="getAllRole" resultType="com.pn.entity.Role">
        select *
        from role
        where role_state = 1
    </select>
    <select id="getRoleByUserId" resultType="com.pn.entity.Role">
        select r.*
        from user_role u1,
             role r
        where u1.user_id = #{userId}
          and u1.role_id = r.role_id
          and r.role_state = 1
    </select>

    <!-- 根据角色名查询角色id-->
    <select id="findRoleIdByName" resultType="java.lang.Integer">
        select role.role_id
        from role
        where role.role_name = #{roleName}
    </select>


    <!--根据用户Id删除用户已经分配的角色关系-->
    <delete id="removeUserRoleByUid">
        delete
        from user_role
        where user_id = #{userId}
    </delete>


    <insert id="insertUserRole">
        insert into user_role
        values (null, #{roleId}, #{userId})
    </insert>


    <!--查询记录总数-->
    <select id="findRoleRowCount" resultType="java.lang.Integer">
        select count(*)
        from role r
        <where>
            <if test="role.roleName !=null and role.roleName!='' ">
                r.role_name like concat('%', #{role.roleName}, '%')
            </if>
            <if test="role.roleCode !=null and role.roleCode!='' ">
                and r.role_code like concat('%', #{role.roleCode}, '%')
            </if>
            <if test="role.roleState !=null and role.roleState!='' ">
                and r.role_state = #{role.roleState}
            </if>
        </where>
    </select>
    <!--分页查询数据-->
    <select id="findRolePage" resultType="com.pn.entity.Role">
        select t1.*, t2.user_code getCode
        from role t1, user_info t2
        <where>
            t1.create_by = t2.user_id
            <if test="role.roleName != null and role.roleName != ''">
                and t1.role_name like concat('%', #{role.roleName}, '%')
            </if>
            <if test="role.roleCode != null and role.roleCode != ''">
                and t1.role_code like concat('%', #{role.roleCode}, '%')
            </if>
            <if test="role.roleState != null and role.roleState != ''">
                and t1.role_state = #{role.roleState}
            </if>
            order by t1.create_time desc
            limit #{page.limitIndex}, #{page.pageSize}
        </where>
    </select>

    <select id="findRoleByNameOrCode" resultType="com.pn.entity.Role">
        select *
        from role
        where role_name = #{roleName}
           or role_code = #{roleCode}
    </select>
    <insert id="insertRole">
        insert into role
            (role_name, role_code, role_desc, role_state, create_by, create_time)
        values (#{role.roleName}, #{role.roleCode}, #{role.roleDesc}, 0, #{role.createBy}, now())
    </insert>

    <update id="setRoleStateByRid">
        update role
        set role_state=#{roleState}
        where role_id = #{roleId}
    </update>

</mapper>